* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
}

.main-screen {
  position: relative;     
  width: 700px;
  background: #1f1f1f;
  color: white;
  padding: 20px;
  border-radius: 10px;
}


.header {
  font-size: 25px;
}
.tabs {
  display: flex;
  gap: 20px;
  margin-top: 15px;

}

.tab {
  padding: 8px 12px;
  background: #333;
  border-radius: 6px;
}

.tab.active {
  background: blue;
    border-radius: 6px;
}


.content {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}


.left {
  width: 40%;
  background: #3b4a63;
  display: flex;
  padding: 10px;
  border-radius: 6px;
}

.item {
  padding: 10px;
  background: #3b4a63;
  display: flex;
  margin-bottom: 8px;
  border-radius: 4px;
}

.item.active {
  background: #3b4a63;
  display: flex;
}

/* RIGHT PREVIEW */
.right {
  flex: 1;
  background: #3b4a63;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.buttons {
  position: absolute;     
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 18px;
  background: #555;
  border-radius: 20px;
}

.btn.share {
  background: #4c5cff;
}
.tab:hover, .item:hover, .btn:hover {
  cursor: pointer;
  opacity: 0.8;
}